{%extends 'base.html'%}
{%block main%}
{%load static%}


        <!--BANNER START-->
    <div class="kode-inner-banner">
    	<div class="kode-page-heading">
        	<h2>Book Detail</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Library</a></li>
              <li class="active">Book Detail</li>
            </ol>
        </div>
    </div>
    <!--BANNER END-->
<section class="vendor-detail">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="vendor-detail-content border shadow-sm p-4 rounded bg-white">
                    <h3 class="text-center mb-4 text-primary">Request</h3>
                    <p class="text-center text-muted mb-4">Please provide your vendor details</p>
                    <form action="{% url 'send_publish_request' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Category Dropdown -->
                            <label for="category">Request to Publish Book:</label>
                            <select id="category" name="category" required>
                                <option value="">Select Books</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                            <br><br>

                        <label for="description">Message:</label>
                            <textarea id="description" name="description" rows="4" required></textarea>
                            <br><br>

                        <label for="title">Publish Date:</label>
                            <input type="date" id="title" name="date" required>
                            <br><br>

                            <!-- Submit Button -->
                            <button type="submit">Send Request</button>

                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- login area end -->
     {%endblock%}

